{% extends 'comp/base.html' %}
{% block nav %}
    <div class="form">
        <form action="{% url 'companycreate' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 addCompany">
                {% include 'comp/form-template.html' %}
                <div class="btn btn-info col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-sm companyReset">Reset</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                <button type="submit" class="btn btn-info col-lg-4 col-md-4 col-sm-4 col-xs-4 btn-sm companySubmit">
                    Submit
                </button>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
            </div>
        </form>
    </div>
    <script>
        $('#id_company_name,#id_company_type,#id_company_date,#id_company_time,#id_door_no,#id_street1').addClass('form-control');
        $('#id_street2,#id_city,#id_state,#id_pin_code,#id_name,#id_designation,#id_ph_number,#id_mailid,#id_job_description,#id_company_requirements').addClass('form-control');
        $('#id_company_date').attr('type', 'date');
        $('#id_company_time').attr('type', 'time');
        $('#addcompany').css('background', 'black')
        $('#addcompany a').css('color', 'white')
    </script>
{% endblock %}
